@import '~react-md/src/scss/react-md';

$md-primary-color: $md-blue-900;
$md-secondary-color: $md-blue-a-200;

@include react-md-everything;

// App bar / title bar color when using 'light theme' should be white
.md-toolbar--themed {
  background-color: $md-white-base;
}

// Floating round buttons - use light theme.
.md-btn--floating {
  color: $md-secondary-color;
  background-color: $md-white-base;
}
.md-btn--floating:hover {
  color: $md-white-base;
  background-color: $md-secondary-color;
}
