{
  "plugins": [
    "transform-class-properties",
    "transform-export-extensions",
  ],
  "presets": [
    ["es2015", { "modules": false }],
    "es2017",
    "react",
    "stage-2"
  ],
  "env": {
    "development": {
      "presets": [
      ]
    }
  }
}
