@import '../../style';

// Overall layout
.omnicard {
  position: absolute;
  top: 0;
  left: 0;
  margin: 8px;

  @media #{$md-mobile-media} {
    right: 0;
  }

  @media #{$md-mobile-landscape-media} {
    width: 256px;
  }

  @media #{$md-tablet-media} {
    width: 384px;
  }

  @media #{$md-desktop-media} {
    width: 384px;
  }

  // Autocompletes (geocoders)

  #origin-geocoder-menu-list,
  #destination-geocoder-menu-list,
  #address_search-menu-list {
    @media #{$md-mobile-media} {
      width: 256px;
    }
    @media #{$md-mobile-landscape-media} {
      width: 512px;
    }
    @media #{$md-tablet-media} {
      width: 512px;
    }
    @media #{$md-desktop-media} {
      width: 512px;
    }
  }

  // Profile options
  .profiles-container > * {
    margin-left: 8px;
  }

  .profiles-container > .md-btn {
    border: 1px solid $md-secondary-color;
  }

  .md-autocomplete-list .md-list-item .md-list-tile {
    padding-left: 16px;
  }

  .md-slider-track-fill,
  .md-slider-thumb--on {
    background: $md-secondary-color;
  }

  .md-slider-thumb--discrete-on::after {
    border-top-color: $md-secondary-color;
  }
}
