@import '~react-md/src/scss/react-md';

// Overall layout
.omnicard {
  position: absolute;
  margin: 8px;
  left: 0;

  @media #{$md-mobile-media} {
    top: $md-toolbar-mobile-portrait-height;
    width: auto;
  }

  @media #{$md-mobile-landscape-media} {
    top: $md-toolbar-mobile-landscape-height;
    width: 256px;
  }

  @media #{$md-tablet-media} {
    top: $md-toolbar-tablet-height;
    width: 384px;
  }

  @media #{$md-desktop-media} {
    top: $md-toolbar-desktop-height;
    width: 384px;
  }
}

// Autocompletes (geocoders)

#origin-geocoder-menu-list,
#destination-geocoder-menu-list,
#address_search-menu-list {
  width: 512px;
}

.md-autocomplete-list .md-list-item .md-list-tile {
  padding-left: 16px;
}
