.poi-card {
  z-index: 4;

  display: block;
  position: absolute;
  right: 0;
  bottom: 8px;
  margin: 0 auto;
  overflow: hidden;

  @media #{$mobile-portrait-media} {
    margin-bottom: 8px;
  }

  @media #{$mobile-landscape-media} {
    bottom: 0;
    height: 100%;
    margin-bottom: 0px;
    margin-left: 0;
    &.md-card {
      z-index: 6;
    }
  }

  @media #{$tablet-media} {
    bottom: 8px;
    height: auto;
    width: calc(33% - 16px);
    margin-left: auto;
    margin-bottom: 0px;
  }

  .md-list-tile {
    display: flex;
  }

  .poi-card-body {
    tbody .md-table-row:not(:last-child) {
      border-bottom: 0;
    }
  }
}

@import "OpeningHoursTable";
