@import '../../style';

// Overall layout
.floating-buttons {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0;
  margin-bottom: 32px;
  margin-right: 16px;
}

// Button layout within div
.floating-buttons .md-btn {
  color: $md-secondary-color;
  background-color: $md-white-base;
  display: block;
  margin: 8px;
}

.md-btn--floating:hover {
  color: $md-white-base;
  background-color: $md-secondary-color;
}
