.analyticsbar {
  position: fixed;
  display: flex;
  margin-bottom: 8px;
  padding-left: 8px;
  width: 100%;
  z-index: 8;
  margin-top: 0;

  background-color: $md-primary-color;
  color: $md-white-base;

  .md-btn {
    margin-left: auto;
    color: $md-white-base;
  }

  @media #{$md-mobile-portrait-media} {
    margin-top: $md-toolbar-mobile-portrait-height;
  }

  @media #{$md-mobile-landscape-media} {
    margin-top: $md-toolbar-mobile-landscape-height;
  }

  @media #{$md-tablet-media} {
    margin-top: $md-toolbar-tablet-height;
  }

  span {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    // TODO: Get the font size from react-md styles
    font-size: 14px;
  }
}
