.analyticsbar {
  @media #{$md-mobile-portrait-media} {
    margin-top: $md-toolbar-mobile-portrait-height;
  }

  @media #{$md-mobile-landscape-media} {
    margin-top: $md-toolbar-mobile-landscape-height;
  }

  @media #{$md-tablet-media} {
    margin-top: $md-toolbar-tablet-height;
  }

  section {
    text-align: center;
  }
}
