.analytics-dialog-container {
  position: absolute;
  bottom: 0;

  .md-card {
    @media #{$md-mobile-media} {
      width: 70%;
    }

    @media #{$md-mobile-landscape-media} {
      width: auto;
    }

    @media #{$md-tablet-media} {
      width: auto;
    }

    .md-card-text {
      padding-bottom: 8px;
    }
  }
}
