html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.topbar {
  background-color: $md-white-base;

  .accessmap-title > * {
    margin-top: 16px;
    @media #{$md-mobile-media} {
      margin-top: 12px;
    }
    @media #{$md-mobile-landscape-media} {
      margin-top: 8px;
    }
    @media #{$md-tablet-media} {
      margin-top: 12px;
    }
    @media #{$md-desktop-media} {
      margin-top: 12px;
    }
  }

  .accessmapicon {
      width: 32px;
      height: 32px;
  }

  .accessmaplogo {
      width: 160px;
      height: 40px;
  }
}

.map-container {
  top: 0;
  bottom: 0;
  width: 100%;
  touch-action: none;
  position: absolute;

  // Disable accidental selection of this container - no magnifying glass on
  // the map for iOS, etc.
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.topbar,
.omnicard,
.floating-buttons,
.feature-card,
.analytics-dialog-container {
  z-index: 4;
}

.accessmapicon-primary,
.accessmaplogo-primary, {
  fill: #0d47a1;
}

.accessmapicon-secondary,
.accessmaplogo-secondary {
  fill: #448aff;
}
