.directions-card {
  z-index: 4;
  position: fixed;

  @media #{$md-mobile-portrait-media} {
    bottom: 0;
    height: 50%;
    width: 100%;
  }

  @media #{$md-mobile-landscape-media} {
    position: fixed;
    padding: inherit;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
  }

  > .md-background--card {
    height: 100%;
  }

  .directions--steps {
    height: 90%;
    overflow: auto;
  }

  .directions--step {
    margin-bottom: 8px;
  }
}
