.feature-card {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8px;
  margin: 0 auto;
  overflow: hidden;

  .md-list-tile {
    display: flex;
  }

  .feature-card-body {
    tbody .md-table-row:not(:last-child) {
        border-bottom: 0;
    }
  }
}

.feature-card-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  overflow: hidden;
}
