// Overall layout
.floating-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: inherit;

  > * {
    margin-top: 8px;
  }

  .md-btn {
    color: $md-secondary-color;
    background-color: $md-white-base;
    display: block;
  }

  .md-btn--floating:hover {
    color: $md-white-base;
    background-color: $md-secondary-color;
  }
}
