.mapinfo-btn {
  top: 0;
  right: 0;

  @media #{$md-mobile-portrait-media} {
    // In portrait mode, arrange as relative vertical elements
    padding: 0;
    position: relative;
    float: right;
  }

  @media #{$md-mobile-landscape-media} {
    padding: inherit;
    position: absolute;
  }

  @media #{$md-tablet-media} {
    padding: inherit;
    position: absolute;
  }

  .md-btn {
    color: $md-secondary-color;
    background-color: $md-white-base;
  }

  .md-btn:hover {
    color: $md-white-base;
    background-color: $md-secondary-color;
  }
}

.mapinfo-card {
  top: 0;
  right: 0;

  @media #{$md-mobile-portrait-media} {
    padding: 0;
    position: relative;
  }

  @media #{$md-mobile-landscape-media} {
    padding: inherit;
    position: absolute;
  }

  @media #{$md-tablet-media} {
    padding: inherit;
    position: absolute;
  }
}
