// Overall layout
.omnicard {
  position: relative;
  margin-bottom: 8px;
  top: 0;
  left: 0;

  @media #{$md-mobile-landscape-media} {
    width: 256px;
  }

  @media #{$md-tablet-media} {
    width: 384px;
  }

  // Autocompletes (geocoders)
  .geocoder-toolbar .md-toolbar--action-left {
    margin: auto;
    min-width: 32px;
    text-align: right;
  }

  .search-icon {
    @media #{$md-mobile-media} {
      margin-bottom: 8px;
    }
    @media #{$md-mobile-landscape-media} {
      margin-bottom: 8px;
    }
    @media #{$md-tablet-media} {
      margin-bottom: 12px;
    }
    @media #{$md-desktop-media} {
      margin-bottom: 14px;
    }
  }

  #address-search-menu,
  #destination-geocoder-menu,
  #origin-geocoder-menu {
    width: calc(100% - 128px);
    .md-tile-text--primary {
      font-weight: $md-font-regular;
    }
  }

  #origin-geocoder-menu-list,
  #destination-geocoder-menu-list,
  #address-search-menu-list {
    @media #{$md-mobile-media} {
      width: 256px;
    }
    @media #{$md-mobile-landscape-media} {
      width: 352px;
    }
    @media #{$md-tablet-media} {
      width: 352px;
    }
  }

  .profile-label {
    padding-bottom: 0;
    h6 {
      color: $md-primary-color;
      font-weight: 500;
      margin-bottom: 0;
    }
  }

  // Profile options
  .profiles-container {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;

    > * {
      margin-right: 8px;
    }

    .profile-selected {
      border-bottom: 3px solid $md-secondary-color;
    }
  }

  .md-autocomplete-list .md-list-item .md-list-tile {
    padding-left: 16px;
  }

  .md-slider-track-fill,
  .md-slider-thumb--on {
    background: $md-secondary-color;
  }

  .md-slider-thumb--discrete-on::after {
    border-top-color: $md-secondary-color;
  }

  .timepicker > * {
    display: inline-block;
    width: 50%;
  }
}
