// Overall layout
.omnicard {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 8px;
  margin-right: 8px;

  @media #{$md-mobile-media} {
    right: 0;
    margin-top: 8px + $md-toolbar-mobile-portrait-height;
  }

  @media #{$md-mobile-landscape-media} {
    width: 256px;
    margin-top: 8px + $md-toolbar-mobile-landscape-height;
  }

  @media #{$md-tablet-media} {
    width: 384px;
    margin-top: 8px + $md-toolbar-tablet-height;
  }

  @media #{$md-desktop-media} {
    width: 384px;
    margin-top: calc(8px + $md-toolbar-height);
  }

  // Autocompletes (geocoders)
  #address-search-menu,
  #destination-geocoder-menu,
  #origin-geocoder-menu {
    width: calc(100% - 128px);
    .md-tile-text--primary {
      font-weight: $md-font-regular;
    }
  }

  #origin-geocoder-menu-list,
  #destination-geocoder-menu-list,
  #address-search-menu-list {
    @media #{$md-mobile-media} {
      width: 256px;
    }
    @media #{$md-mobile-landscape-media} {
      width: 352px;
    }
    @media #{$md-tablet-media} {
      width: 352px;
    }
    @media #{$md-desktop-media} {
      width: 352px;
    }
  }

  // Profile options
  .profiles-container {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;

    > * {
      margin-right: 8px;
    }

    .profile-selected {
      border-bottom: 3px solid $md-secondary-color;
    }
  }

  .md-autocomplete-list .md-list-item .md-list-tile {
    padding-left: 16px;
  }

  .md-slider-track-fill,
  .md-slider-thumb--on {
    background: $md-secondary-color;
  }

  .md-slider-thumb--discrete-on::after {
    border-top-color: $md-secondary-color;
  }
}

.omnicard.notoolbar {
  margin-top: 8px;
}
