.topbar {
  position: absolute;
  background-color: $md-white-base;

  .accessmap-title > * {
    margin-top: 16px;
  }

  .accessmapicon {
      width: 32px;
      height: 32px;
  }

  .accessmaplogo {
      width: 160px;
      height: 40px;
  }

  .accessmaplogo-region {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
  }

  .accessmapicon-primary,
  .accessmaplogo-primary, {
    fill: #0d47a1;
  }

  .accessmapicon-secondary,
  .accessmaplogo-secondary {
    fill: #448aff;
  }

  .analytics-dialog {
    position: absolute;
    margin-top: 25%;

    .md-card-text {
      padding-bottom: 8px;
    }
  }

  @media #{$md-mobile-portrait-media} {
    .accessmap-title > * {
      margin-top: 12px;
    }

    .analytics-dialog {
      margin-left: 8px;
      margin-right: 8px;
      width: calc(100% - 16px);
    }

    .md-title {
      margin-left: 8px;
    }

    .md-btn--toolbar.md-btn--text {
      padding-left: 8px;
      padding-right: 8px;
      min-width: 60px;
    }

    #extra-settings-list {
      top: $md-toolbar-mobile-portrait-height;
    }
  }
  @media #{$md-mobile-landscape-media} {
    .accessmap-title > * {
      margin-top: 8px;
    }

    .analytics-dialog {
      margin-left: 25%;
      margin-right: 25%;
      width: auto;
    }

    #extra-settings-list {
      top: $md-toolbar-mobile-landscape-height;
    }
  }

  @media #{$md-tablet-media} {
    .analytics-dialog {
      margin-left: 25%;
      margin-right: 25%;
      width: auto;
    }

    #extra-settings-list {
      top: $md-toolbar-tablet-height;
    }
  }
}
