.appdrawer {
  .accessmap-title > * {
    @media #{$mobile-portrait-media} {
      margin-top: 4px;
    }
    @media #{$mobile-landscape-media} {
      margin-top: 4px;
    }
    @media #{$tablet-media} {
      margin-top: 12px;
    }
  }

  .accessmap-logo {
    width: 160px;
    height: 40px;
  }

  .accessmaplogo-region {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
  }

  .accessmaplogo-primary {
    fill: $md-primary-color;
  }

  .accessmaplogo-secondary {
    fill: $md-secondary-color;
  }
}
