.bottom-bar {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  padding: 4px;

  .legend-speed {
    height: 32px;
    position: relative;
    width: 100%;

    .legend-speed-cell-container {
      height: 12px;
    }
  }
}
