$floating-buttons-width: 56px;

.legend {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 512px;
  margin-bottom: 32px;

  @media #{$md-mobile-portrait-media} {
    width: calc(100% - 2 * #{$omnipadding} - #{$floating-buttons-width});
  }

  @media #{$md-mobile-landscape-media} {
    width: 60%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $omnipadding;
  }

  @media #{$md-tablet-media} {
    left: $omnicard-tablet-width + 2 * $omnipadding;
    width: calc(100% - #{$omnicard-tablet-width} - #{$floating-buttons-width} - 2 * #{$omnipadding});
  }

  @media #{$md-desktop-media} {
    left: $omnicard-desktop-width + $omnipadding + 8px;
    width: calc(100% - #{$omnicard-desktop-width} - #{$floating-buttons-width} - 16px);
  }

  // margin-bottom: 8px;

  .legend-speed {
    height: 40px;
    position: relative;
    width: calc(100% - 16px);
    margin: 0 auto;

    @media #{$md-mobile-portrait-media} {
      height: 40px;
    }

    @media #{$md-mobile-landscape-media} {
      height: 40px;
    }

    @media #{$md-tablet-media} {
      height: 40px;
    }

    @media #{$md-desktop-media} {
      height: 40px;
    }

    .legend-speed-cell-container {
      height: 16px;
    }

    .legend-speed-downhill,
    .legend-speed-short-description,
    .legend-speed-uphill {
        display: inline-block;
        font-size: 10pt;
        padding-top: 4px;
    }

    .legend-speed-downhill {
        position: absolute;
        left: 0;
    }

    .legend-speed-uphill {
        position: absolute;
        right: 0;
    }

    .legend-speed-short-description {
        position: absolute;
        left: 40%;
        width: 50%;
    }
  }
}
