$only-mobile: "screen and (max-width: #{$tablet-min-width})" !default;

// Overall layout
.link-overlay > .md-dialog {
  width: 512px;
  @media #{$only-mobile} {
    width: 100%;
    max-width: calc(100% - 16px);
    max-height: calc(100% - 16px);
    position: absolute;
    margin: 8px;
    top: 0;
    left: 0;
    transform: none;
  }
}

.link-overlay {
  tbody {
    .md-table-row {
      border-bottom: none;
    }
    .md-table-column {
      padding-left: 0;
      padding-bottom: 8px;
      padding-top: 8px;
    }
  }
}
