.map.mapboxgl-map {
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  touch-action: none;
  position: absolute;
  // calc(100% - 40px)

  // Disable accidental selection of this container - no magnifying glass on
  // the map for iOS, etc.
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /*
  &.directions {
    @media #{$mobile-portrait-media} {
      height: 50%;
      width: 100%;
    }

    @media #{$mobile-landscape-media} {
      height: 100%;
      width: 50%;
      right: 0;
    }
  }
*/
}
