// Overall layout
.omnicard {
  position: relative;
  margin-bottom: 8px;
  top: 0;
  left: 0;

  z-index: 5;

  @media #{$mobile-portrait-media} {
    width: $omnicard-mobile-portrait-width;
  }

  @media #{$mobile-landscape-media} {
    max-width: 50%;
    width: $omnicard-mobile-landscape-width;
  }

  @media #{$tablet-media} {
    width: $omnicard-tablet-width;
    height: 100%;
  }

  @media #{$desktop-media} {
    width: $omnicard-desktop-width;
    height: 100%;
  }

  &.directions--mode {
    height: 100%;
    overflow: auto;
  }

  .directions--bar {
    height: 80%;
    overflow: auto;
  }

  .directions--step {
    margin-bottom: 8px;
  }

  // Header
  .omnicard--header {
    .accessmap-title > * {
      display: inline-block;
      @media #{$mobile-portrait-media} {
        margin-top: 8px;
      }
      @media #{$mobile-landscape-media} {
        margin-top: 8px;
      }
      @media #{$tablet-media} {
        margin-top: 16px;
      }
    }

    .accessmap-title {
      @media #{$mobile-portrait-media} {
        margin-left: 0px;
        margin-right: 8px;
      }
      @media #{$mobile-landscape-media} {
        margin-left: 0px;
        margin-right: 4px;
      }
      @media #{$tablet-media} {
        margin-left: 4px;
        margin-right: 8px;
      }
    }

    .accessmapicon {
      width: 32px;
      height: 32px;
    }

    .accessmaplogo {
      width: 128px;
      height: 32px;
    }

    .accessmapicon-primary,
    .accessmaplogo-primary {
      fill: $md-primary-color;
    }

    .accessmapicon-secondary,
    .accessmaplogo-secondary {
      fill: $md-secondary-color;
    }

    .accessmaplogo-region {
      position: absolute;
      @media #{$mobile-portrait-media} {
        top: 20px;
        left: 74px;
      }
      @media #{$mobile-landscape-media} {
        top: 20px;
        left: 74px;
      }
      @media #{$tablet-media} {
        top: 20px;
        left: 82px;
      }
      @media #{$desktop-media} {
        top: 20px;
        left: 74px;
      }
    }

    // .region-selection-open-button {
    //   // margin-bottom: auto;
    //   @media #{$mobile-portrait-media} {
    //     height: 40px;
    //     width: 64px;
    //     min-width: 64px;
    //     padding-top: 0;
    //     padding-bottom: 0;
    //     padding-left: 0;
    //     padding-right: 0;
    //     margin-left: 0px;
    //     margin-top: 6px;
    //   }
    //   @media #{$mobile-landscape-media} {
    //     height: 40px;
    //     width: 64px;
    //     min-width: 64px;
    //     padding-left: 0;
    //     padding-right: 0;
    //     margin-left: 0px;
    //     margin-top: 0px;
    //   }
    //   @media #{$tablet-media} {
    //     height: 48px;
    //     width: 80px;
    //     padding-left: 16px;
    //     padding-right: 16px;
    //     margin-left: 4px;
    //     margin-top: 8px;
    //   }
    // }

    .md-toolbar--action-left.md-btn {
      margin-left: 0px;
      @media #{$tablet-media} {
        margin-left: 4px;
      }
    }

    // .md-cell--right {
    //   @media #{$mobile-landscape-media} {
    //     margin-left: 8px;
    //   }
    // }

    .md-toolbar--action-right .md-btn {
      @media #{$mobile-portrait-media} {
        width: 80px;
        min-width: 80px;
        margin-top: 8px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 0px;
      }
      @media #{$mobile-landscape-media} {
        width: 64px;
        min-width: 64px;
        margin-top: 8px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 0px;
      }
      @media #{$tablet-media} {
        width: auto;
        min-width: auto;
        max-width: 96px;
        margin-top: 16px;
      }
    }
  }

  // Autocompletes (geocoders)
  .geocoder-toolbar {
    .md-toolbar--action-left {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 8px;
      text-align: center;
      width: 24px;
      @media #{$desktop-media} {
        width: 20px;
      }
    }

    .search-icon {
      @media #{$mobile-portrait-media} {
      }
      @media #{$mobile-landscape-media} {
      }
      @media #{$tablet-media} {
        margin-left: 16px;
      }
      @media #{$desktop-media} {
        margin-left: 16px;
      }
    }

    .md-toolbar--title {
      margin-left: 8px;
    }

    .md-autocomplete-container {
      width: calc(100% - 96px);
      padding-left: 8px;
      height: 30px;
      border-radius: 2px;
      background-color: #f6f6f6;
      margin-left: 8px;

      .md-tile-text--primary {
        font-weight: $md-font-regular;
      }

      @media #{$mobile-portrait-media} {
        width: calc(100% - 96px);
        height: 32px;
        margin: 8px;
      }
      @media #{$mobile-landscape-media} {
        width: calc(100% - 96px);
        height: 32px;
        margin: 8px;
      }
      @media #{$tablet-media} {
        width: calc(100% - 128px);
        height: 32px;
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 8px;
      }
      @media #{$desktop-media} {
        width: calc(100% - 112px);
        height: 32px;
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 8px;
      }
    }

    .md-autocomplete-list {
      @media #{$mobile-media} {
        width: 256px;
      }
      @media #{$mobile-landscape-media} {
        width: 352px;
      }
      @media #{$tablet-media} {
        width: auto;
      }
      .md-list-item .md-list-tile {
        padding-left: 16px;
      }
    }
  }

  // Profile options
  .profiles-toolbar {
    padding-left: 8px;

    .profiles-container {
      #profile-radio-selector-group-label {
        margin-bottom: 0;
      }
      padding: 0;

      span h6 {
        margin-bottom: 0;
        color: $md-primary-color;
      }

      .md-selection-control-toggle + .md-selection-control-toggle {
        padding-left: 2px;
      }

      .profile-selected {
        border-bottom: 3px solid $md-secondary-color;
      }
    }
  }

  // Profile editing section
  .profile-editor-desktop > * {
    margin-bottom: 8px;
  }

  .md-slider-track-fill,
  .md-slider-thumb--on {
    background: $md-secondary-color;
  }

  .md-slider-thumb--discrete-on::after {
    border-top-color: $md-secondary-color;
  }

  // Globalish settings for height between mobile / tablet
  @media only screen and (max-width: #{$tablet-min-width}) {
    // Mobile portrait mode: screen real estate is at a premium

    // Shrink toolbars
    @include react-md-toolbars-mobile-landscape;
    // Move buttons in toolbars to compensate
    .md-toolbar .md-btn--toolbar {
      &.md-btn--icon {
        margin-top: 0;
      }
      &.md-btn--flat {
        margin-top: 8px;
      }
    }

    // Shrink padding on CardText elements
    .timepicker {
      padding-top: 0;
      padding-bottom: 0;
    }

    // Shrink icon padding in profile selector, make bottom border on card.
    .profiles-container {
      .md-btn--icon {
        padding-top: 8px;
        padding-bottom: 8px;
        height: 40px;
      }

      .md-selection-control-toggle {
        padding-right: 4px;
        padding-left: 0;
        width: auto;
      }

      .md-selection-control-container + .md-selection-control-container {
        margin-left: 4px;
      }
    }
  }

  .timepicker {
    > * {
      display: inline-block;
      width: 50%;
    }
  }

  .route-progressbar {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0px;
    height: 4px;
  }

  .route-elevation-profile {
    width: 100%;
    height: auto;

    path {
      stroke: #ffaa00;
      stroke-width: 1;
      fill: none;
    }
  }
}
