// Overall layout
$mobile-toolbar-margin: 4px;
$tablet-toolbar-margin: 12px;

$mobile-icon-height: 24px;
$tablet-icon-height: 20px;

$mobile-portrait-toolbar-text-button-height: 32px;
$mobile-landscape-toolbar-text-button-height: 24px;
$tablet-toolbar-text-button-height: 32px;

.omnicard {
  position: relative;
  margin-bottom: 8px;
  top: 0;
  left: 0;

  z-index: 5;

  @media #{$mobile-portrait-media} {
    width: $omnicard-mobile-portrait-width;
  }

  @media #{$mobile-landscape-media} {
    width: $omnicard-mobile-landscape-width;
  }

  @media #{$tablet-media} {
    width: $omnicard-tablet-width;
    height: 100%;
  }

  @media #{$desktop-media} {
    width: $omnicard-desktop-width;
    height: 100%;
  }

  &.directions--mode {
    height: 100%;
    overflow: auto;
  }

  .directions--bar {
    height: 80%;
    overflow: auto;
  }

  .directions--step {
    margin-bottom: 8px;
  }

  // Toolbars
  .md-toolbar {
    // Toolbar's own attributes
    @media #{$mobile-portrait-media} {
      height: $mobile-portrait-toolbar-height;
    }
    @media #{$mobile-landscape-media} {
      height: $mobile-landscape-toolbar-height;
    }
    @media #{$tablet-media} {
      height: $tablet-toolbar-height;
    }

    // Left actions (menu / nav)
    .md-toolbar--action-left.md-btn--toolbar {
      @media #{$mobile-portrait-media} {
        width: $mobile-portrait-toolbar-height - 2 * $mobile-toolbar-margin;
        height: $mobile-portrait-toolbar-height - 2 * $mobile-toolbar-margin;
        padding: ($mobile-portrait-toolbar-height - $mobile-icon-height) / 2 -
          $mobile-toolbar-margin;
      }
      @media #{$mobile-landscape-media} {
        width: $mobile-landscape-toolbar-height - 2 * $mobile-toolbar-margin;
        height: $mobile-landscape-toolbar-height - 2 * $mobile-toolbar-margin;
        padding: ($mobile-landscape-toolbar-height - $mobile-icon-height) / 2 -
          $mobile-toolbar-margin;
        margin-top: 4px;
      }
      @media #{$tablet-media} {
        width: $tablet-toolbar-height - 2 * $tablet-toolbar-margin;
        height: $tablet-toolbar-height - 2 * $tablet-toolbar-margin;
        padding: ($tablet-toolbar-height - $tablet-icon-height) / 2 -
          $tablet-toolbar-margin;
        margin-top: 12px;
      }

      &.toolbar-left-icon {
        @media #{$mobile-portrait-media} {
          min-width: $mobile-portrait-toolbar-height - 2 *
            $mobile-toolbar-margin;
          width: $mobile-portrait-toolbar-height - 2 * $mobile-toolbar-margin;
          height: $mobile-portrait-toolbar-height - 2 * $mobile-toolbar-margin;
          padding: ($mobile-portrait-toolbar-height - $mobile-icon-height) / 2 -
            $mobile-toolbar-margin;
          padding-top: 0;
          padding-bottom: 0;
        }
        @media #{$mobile-landscape-media} {
          min-width: $mobile-landscape-toolbar-height - 2 *
            $mobile-toolbar-margin;
          width: $mobile-landscape-toolbar-height - 2 * $mobile-toolbar-margin;
          height: $mobile-landscape-toolbar-height - 2 * $mobile-toolbar-margin;
          padding: ($mobile-landscape-toolbar-height - $mobile-icon-height) / 2 -
            $mobile-toolbar-margin;
          padding-top: 0;
          padding-bottom: 0;
        }
        @media #{$tablet-media} {
          min-width: $tablet-toolbar-height - 2 * $tablet-toolbar-margin;
          width: $tablet-toolbar-height - 2 * $tablet-toolbar-margin;
          height: $tablet-toolbar-height - 2 * $tablet-toolbar-margin;
          padding: ($tablet-toolbar-height - $tablet-icon-height) / 2 -
            $tablet-toolbar-margin;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }

    // Title / Logo
    .accessmap-title {
      .accessmaplogo {
        margin-left: 8px;
        @media #{$mobile-portrait-media} {
          width: 96px;
          height: 24px;
          margin-top: ($mobile-portrait-toolbar-height - 24px) / 2;
        }
        @media #{$mobile-landscape-media} {
          width: 96px;
          height: 24px;
          margin-top: ($mobile-landscape-toolbar-height - 24px) / 2;
        }
        @media #{$tablet-media} {
          width: 112px;
          height: 28px;
          margin-top: ($tablet-toolbar-height - 28px) / 2;
          margin-left: 8px;
        }

        .accessmaplogo-primary {
          fill: $md-primary-color;
        }

        .accessmaplogo-secondary {
          fill: $md-secondary-color;
        }
      }
    }

    // Geocoders
    .md-autocomplete-container {
      height: 32px;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 8px;
      .md-autocomplete {
        border: 1px solid #e6e6e6;
        border-radius: 2px;
        background-color: #f6f6f6;
        input {
          padding-left: 8px;
        }
      }
    }

    // Right actions
    .md-toolbar--action-right {
      // This button needs to be obvious - give it an outline
      .md-btn {
        &.md-btn--text {
          @media #{$mobile-portrait-media} {
            min-width: 0;
            height: $mobile-portrait-toolbar-text-button-height;
            margin-top: (
                $mobile-portrait-toolbar-height -
                  $mobile-portrait-toolbar-text-button-height
              ) / 2;
            margin-bottom: (
                $mobile-portrait-toolbar-height -
                  $mobile-portrait-toolbar-text-button-height
              ) / 2;
            margin-left: 4px;
            margin-right: 4px;
            padding-left: 8px;
            padding-right: 8px;
          }
          @media #{$mobile-landscape-media} {
            min-width: 0;
            height: $mobile-landscape-toolbar-text-button-height;
            margin-top: (
                $mobile-landscape-toolbar-height -
                  $mobile-landscape-toolbar-text-button-height
              ) / 2;
            margin-bottom: (
                $mobile-landscape-toolbar-height -
                  $mobile-landscape-toolbar-text-button-height
              ) / 2;
            margin-left: 4px;
            margin-right: 4px;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 4px;
            padding-bottom: 4px;
          }
          @media #{$tablet-media} {
            margin-top: (
                $tablet-toolbar-height - $tablet-toolbar-text-button-height
              ) / 2;
            margin-bottom: (
                $tablet-toolbar-height - $tablet-toolbar-text-button-height
              ) / 2;
            margin-left: 4px;
            margin-right: 4px;
            padding-left: 8px;
            padding-right: 8px;
            height: $tablet-toolbar-text-button-height;
          }
        }
        &.md-btn--icon {
          @media #{$mobile-portrait-media} {
            width: $mobile-portrait-toolbar-height - 2 * $mobile-toolbar-margin;
            height: $mobile-portrait-toolbar-height - 2 * $mobile-toolbar-margin;
            padding: ($mobile-portrait-toolbar-height - $mobile-icon-height) / 2 -
              $mobile-toolbar-margin;
            margin-left: 4px;
            margin-right: 4px;
          }
          @media #{$mobile-landscape-media} {
            width: $mobile-landscape-toolbar-height - 2 * $mobile-toolbar-margin;
            height: $mobile-landscape-toolbar-height - 2 *
              $mobile-toolbar-margin;
            padding: ($mobile-landscape-toolbar-height - $mobile-icon-height) /
              2 - $mobile-toolbar-margin;
            margin-top: 4px;
            margin-left: 4px;
            margin-right: 4px;
          }
          @media #{$tablet-media} {
            width: $tablet-toolbar-height - 2 * $tablet-toolbar-margin;
            height: $tablet-toolbar-height - 2 * $tablet-toolbar-margin;
            padding: ($tablet-toolbar-height - $tablet-icon-height) / 2 -
              $tablet-toolbar-margin;
            margin-top: 12px;
          }
        }
        &.region-selection-open-button {
          border: 1px solid $md-primary-color;
        }
      }
    }
  }

  // Profile options
  .profiles-toolbar {
    @media #{$mobile-portrait-media} {
      margin-left: 0;
    }

    @media #{$mobile-landscape-media} {
      margin-left: 0;
    }

    @media #{$tablet-media} {
      margin-left: 8px;
    }

    padding-left: 8px;

    .profiles-container {
      .md-selection-control-container {
        @media #{$mobile-portrait-media} {
          height: $mobile-portrait-toolbar-height - 4px;
        }

        @media #{$mobile-landscape-media} {
          height: $mobile-landscape-toolbar-height - 4px;
        }

        @media #{$tablet-media} {
          padding-top: 8px;
          padding-bottom: 0;
          height: 48px;
        }
      }

      .md-selection-control-toggle.md-btn--icon {
        @media #{$mobile-portrait-media} {
          width: $mobile-portrait-toolbar-height;
          height: $mobile-portrait-toolbar-height;
          padding: ($mobile-portrait-toolbar-height - $mobile-icon-height) / 2;
        }

        @media #{$mobile-landscape-media} {
          width: $mobile-landscape-toolbar-height;
          height: $mobile-landscape-toolbar-height;
          padding: ($mobile-landscape-toolbar-height - $mobile-icon-height) / 2;
        }

        @media #{$tablet-media} {
          width: 48px;
          height: 48px;
          padding: (48px - $mobile-icon-height) / 2;
        }
      }

      #profile-radio-selector-group-label {
        margin-bottom: 0;
      }
      padding: 0;

      span h6 {
        margin-bottom: 0;
        color: $md-primary-color;
      }

      .md-selection-control-toggle + .md-selection-control-toggle {
        padding-left: 2px;
      }

      .profile-selected {
        border-bottom: 4px solid $md-secondary-color;
      }
    }
  }

  .profile-list {
    @media #{$mobile-portrait-media} {
      height: 32px;
      margin-top: ($mobile-portrait-toolbar-height - 32px) / 2;
      margin-bottom: ($mobile-portrait-toolbar-height - 32px) / 2;
    }
    @media #{$mobile-landscape-media} {
      height: 32px;
      margin-top: ($mobile-landscape-toolbar-height - 32px) / 2;
      margin-bottom: ($mobile-landscape-toolbar-height - 32px) / 2;
    }
    @media #{$tablet-media} {
      height: 32px;
      margin-top: ($tablet-toolbar-height - 32px) / 2;
      margin-bottom: ($tablet-toolbar-height - 32px) / 2;
    }

    .profile-btn-container {
      .icon-container {
        padding-left: 0;
        padding-right: 0;

        @media #{$mobile-portrait-media} {
          padding-top: (32px - $mobile-icon-height) / 2;
          padding-bottom: (32px - $mobile-icon-height) / 2;
        }
        @media #{$mobile-landscape-media} {
          padding-top: (32px - $mobile-icon-height) / 2;
          padding-bottom: (32px - $mobile-icon-height) / 2;
        }
        @media #{$tablet-media} {
          padding-top: (32px - $tablet-icon-height) / 2;
          padding-bottom: (32px - $tablet-icon-height) / 2;
        }
      }
    }
  }

  // Profile editing section
  .profile-editor-desktop > * {
    margin-bottom: 8px;
  }

  .md-slider-track-fill,
  .md-slider-thumb--on {
    background: $md-secondary-color;
  }

  .md-slider-thumb--discrete-on::after {
    border-top-color: $md-secondary-color;
  }

  .timepicker {
    > * {
      display: inline-block;
      width: 50%;
    }
  }

  .route-progressbar {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0px;
    height: 4px;
  }

  .route-elevation-profile {
    width: 100%;
    height: auto;

    path {
      stroke: #ffaa00;
      stroke-width: 1;
      fill: none;
    }
  }
}
